@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,700i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

main{
  margin:2em;
  border: 4em;
  border-color: #87ceeb;
}
body{
  align: center;
}
main section{
  margin: 20%;
}
section{
  height:35%;
  width: 40%;
  margin: 25%;
  border:solid 5px #87ceeb;
  float:left;
}
img{
  height:35%;
  width: 35%;
  margin: 10.5%;
  margin-right: 15%;
  border-color: #87ceeb;
  padding:em;
}
nav{
  border: solid;
  border-color: #87ceeb;
  border-bottom: none;
  border-left: none;
  border-right:none;
}
ul > li{
  display: inline-block;
}
aside{
  height:35%;
  width: 40%;
  margin: 25%;
  border:solid 5px #87ceeb;
  float:left;
}
article{
  height:35%;
  width: 40%;
  margin: 25%;
  border:solid 5px #87ceeb;
  float:left;
}
