@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,700i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

main{
  margin-left:10%;
  border: 4em;
  border-color: #87ceeb;
}
body{
  margin:inherit;
}
section{
  height: 35%;
  width: 25%;
  margin: 35px;
  border:solid 5px #87ceeb;
  float:left;
}
img{
  height:35%;
  width: 70%;
  margin: 35px;
  border-color: #87ceeb;
  padding:em;
}
nav{
  border: solid;
  border-color: #87ceeb;
  border-bottom: none;
  border-left: none;
  border-right:none;
  margin-top: auto;
  padding: none;
}
ul{
  margin: auto;
  padding:inherit;
}
ul > li{
  display: inline-block;
  padding: none;
}
li{
  border:1em;
}
.pink .yellow {
  height:35%;
  width: 25%;
  margin: 20px;
  border:solid 5px #87ceeb;
  float:left;
}
.yellow{
  height:35%;
  width: 25%;
  margin: 20px;
  border:solid 5px #87ceeb;
  float:left;
}
.fa-refresh{
  border: solid;
  border-color: #87ceeb;
  font-size: 1em;
  height: 1em;
  padding:.5em;
}
.fa-heart-o{
  border:solid;
  border-color: #87ceeb;
  height:1em;
  padding:.5em;
}
.letter{
  border:solid;
  border-color: #87ceeb;
  height: 1em;
  padding: .5em;

}
.fa-stop{
  border:solid;
  border-color: #87ceeb;
  padding: .5em;
  height:1em;
}
.fa-shopping-cart{
  border:solid;
  border-color: #87ceeb;
  padding: .5em;
  height: 1em;
}
/*p{
  float:left;
}*/
