@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,700i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  box-sizing: border-box;
}

main{
  margin-left:10%;
  border: 1em;
  border-color: #87ceeb;
}
body{
  margin:inherit;
}
section, .pink, .yellow{
  width: 25%;
  margin: 35px;
  border: .5px solid #87ceeb;
  float:left;
}
img{
  width: 70%;
  margin: 0 auto;
  border-color: #87ceeb;
  padding: 1em;
  display: block;
}
nav{
  border: solid;
  border-color: #87ceeb;
  border-bottom: none;
  border-left: none;
  border-right:none;
  margin-top: auto;
  padding: none;
}
ul{
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-between;

  margin: auto;
  padding:inherit;
}

ul > li{
  padding: 0;
}

ul > li > a{

}

.letter{
  display: inline-block;
}

.fa-refresh, .fa-heart-o, .letter, .fa-stop, .fa-shopping-cart{
  border: solid #87ceeb;
  font-size: 1em;
  padding: 0.5em;

}
